Connected Services/ItaliaPizzaServices/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMainManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/Service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Dtos" />
      <xsd:import schemaLocation="http://localhost:8082/Service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:8082/Service?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8082/Service?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainManager_GetAllPersonals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonals" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetAllPersonals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonalsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AddPersonal_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonal" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AddPersonal_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonalResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_UpdatePersonal_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonal" />
  </wsdl:message>
  <wsdl:message name="IMainManager_UpdatePersonal_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonalResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_DeletePersonal_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonal" />
  </wsdl:message>
  <wsdl:message name="IMainManager_DeletePersonal_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonalResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_ReactivatePersonal_InputMessage">
    <wsdl:part name="parameters" element="tns:ReactivatePersonal" />
  </wsdl:message>
  <wsdl:message name="IMainManager_ReactivatePersonal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReactivatePersonalResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_IsUsernameAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUsernameAvailable" />
  </wsdl:message>
  <wsdl:message name="IMainManager_IsUsernameAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUsernameAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_IsRfcUnique_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRfcUnique" />
  </wsdl:message>
  <wsdl:message name="IMainManager_IsRfcUnique_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRfcUniqueResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_IsPersonalEmailAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPersonalEmailAvailable" />
  </wsdl:message>
  <wsdl:message name="IMainManager_IsPersonalEmailAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPersonalEmailAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetAllSuppliers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSuppliers" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetAllSuppliers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetSuppliersByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSuppliersByCategory" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetSuppliersByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSuppliersByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AddSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplier" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AddSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_UpdateSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplier" />
  </wsdl:message>
  <wsdl:message name="IMainManager_UpdateSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_DeleteSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSupplier" />
  </wsdl:message>
  <wsdl:message name="IMainManager_DeleteSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_ReactivateSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:ReactivateSupplier" />
  </wsdl:message>
  <wsdl:message name="IMainManager_ReactivateSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReactivateSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetSuppliesBySupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSuppliesBySupplier" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetSuppliesBySupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSuppliesBySupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetSuppliesAvailableByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSuppliesAvailableByCategory" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetSuppliesAvailableByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSuppliesAvailableByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetAllSupplies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSupplies" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetAllSupplies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSuppliesResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AddSupply_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSupply" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AddSupply_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplyResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_UpdateSupply_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupply" />
  </wsdl:message>
  <wsdl:message name="IMainManager_UpdateSupply_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplyResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_DeleteSupply_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSupply" />
  </wsdl:message>
  <wsdl:message name="IMainManager_DeleteSupply_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSupplyResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_ReactivateSupply_InputMessage">
    <wsdl:part name="parameters" element="tns:ReactivateSupply" />
  </wsdl:message>
  <wsdl:message name="IMainManager_ReactivateSupply_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReactivateSupplyResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AssignSupplierToSupply_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignSupplierToSupply" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AssignSupplierToSupply_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignSupplierToSupplyResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_UnassignSupplierFromSupply_InputMessage">
    <wsdl:part name="parameters" element="tns:UnassignSupplierFromSupply" />
  </wsdl:message>
  <wsdl:message name="IMainManager_UnassignSupplierFromSupply_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnassignSupplierFromSupplyResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_RegisterOrderPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterOrderPayment" />
  </wsdl:message>
  <wsdl:message name="IMainManager_RegisterOrderPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterOrderPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetAllSupplierOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSupplierOrders" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetAllSupplierOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSupplierOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AddSupplierOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplierOrder" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AddSupplierOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplierOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_CancelSupplierOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelSupplierOrder" />
  </wsdl:message>
  <wsdl:message name="IMainManager_CancelSupplierOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelSupplierOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetDeliveredOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveredOrders" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetDeliveredOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveredOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetOrderItemsByOrderID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderItemsByOrderID" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetOrderItemsByOrderID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderItemsByOrderIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_RegisterRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRecipe" />
  </wsdl:message>
  <wsdl:message name="IMainManager_RegisterRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AddCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="IMainManager_AddCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_IsCustomerEmailAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCustomerEmailAvailable" />
  </wsdl:message>
  <wsdl:message name="IMainManager_IsCustomerEmailAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCustomerEmailAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMainManager_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_updateActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:updateActivity" />
  </wsdl:message>
  <wsdl:message name="IMainManager_updateActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IMainManager_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainManager">
    <wsdl:operation name="GetAllPersonals">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalManager/GetAllPersonals" message="tns:IMainManager_GetAllPersonals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalManager/GetAllPersonalsResponse" message="tns:IMainManager_GetAllPersonals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPersonal">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalManager/AddPersonal" message="tns:IMainManager_AddPersonal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalManager/AddPersonalResponse" message="tns:IMainManager_AddPersonal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonal">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalManager/UpdatePersonal" message="tns:IMainManager_UpdatePersonal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalManager/UpdatePersonalResponse" message="tns:IMainManager_UpdatePersonal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePersonal">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalManager/DeletePersonal" message="tns:IMainManager_DeletePersonal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalManager/DeletePersonalResponse" message="tns:IMainManager_DeletePersonal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReactivatePersonal">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalManager/ReactivatePersonal" message="tns:IMainManager_ReactivatePersonal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalManager/ReactivatePersonalResponse" message="tns:IMainManager_ReactivatePersonal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUsernameAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalManager/IsUsernameAvailable" message="tns:IMainManager_IsUsernameAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalManager/IsUsernameAvailableResponse" message="tns:IMainManager_IsUsernameAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRfcUnique">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalManager/IsRfcUnique" message="tns:IMainManager_IsRfcUnique_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalManager/IsRfcUniqueResponse" message="tns:IMainManager_IsRfcUnique_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPersonalEmailAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalManager/IsPersonalEmailAvailable" message="tns:IMainManager_IsPersonalEmailAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalManager/IsPersonalEmailAvailableResponse" message="tns:IMainManager_IsPersonalEmailAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSuppliers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierManager/GetAllSuppliers" message="tns:IMainManager_GetAllSuppliers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierManager/GetAllSuppliersResponse" message="tns:IMainManager_GetAllSuppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSuppliersByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierManager/GetSuppliersByCategory" message="tns:IMainManager_GetSuppliersByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierManager/GetSuppliersByCategoryResponse" message="tns:IMainManager_GetSuppliersByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierManager/AddSupplier" message="tns:IMainManager_AddSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierManager/AddSupplierResponse" message="tns:IMainManager_AddSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierManager/UpdateSupplier" message="tns:IMainManager_UpdateSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierManager/UpdateSupplierResponse" message="tns:IMainManager_UpdateSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierManager/DeleteSupplier" message="tns:IMainManager_DeleteSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierManager/DeleteSupplierResponse" message="tns:IMainManager_DeleteSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReactivateSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierManager/ReactivateSupplier" message="tns:IMainManager_ReactivateSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierManager/ReactivateSupplierResponse" message="tns:IMainManager_ReactivateSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplyManager/GetAllCategories" message="tns:IMainManager_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplyManager/GetAllCategoriesResponse" message="tns:IMainManager_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSuppliesBySupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplyManager/GetSuppliesBySupplier" message="tns:IMainManager_GetSuppliesBySupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplyManager/GetSuppliesBySupplierResponse" message="tns:IMainManager_GetSuppliesBySupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSuppliesAvailableByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplyManager/GetSuppliesAvailableByCategory" message="tns:IMainManager_GetSuppliesAvailableByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplyManager/GetSuppliesAvailableByCategoryResponse" message="tns:IMainManager_GetSuppliesAvailableByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSupplies">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplyManager/GetAllSupplies" message="tns:IMainManager_GetAllSupplies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplyManager/GetAllSuppliesResponse" message="tns:IMainManager_GetAllSupplies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSupply">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplyManager/AddSupply" message="tns:IMainManager_AddSupply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplyManager/AddSupplyResponse" message="tns:IMainManager_AddSupply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupply">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplyManager/UpdateSupply" message="tns:IMainManager_UpdateSupply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplyManager/UpdateSupplyResponse" message="tns:IMainManager_UpdateSupply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSupply">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplyManager/DeleteSupply" message="tns:IMainManager_DeleteSupply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplyManager/DeleteSupplyResponse" message="tns:IMainManager_DeleteSupply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReactivateSupply">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplyManager/ReactivateSupply" message="tns:IMainManager_ReactivateSupply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplyManager/ReactivateSupplyResponse" message="tns:IMainManager_ReactivateSupply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignSupplierToSupply">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplyManager/AssignSupplierToSupply" message="tns:IMainManager_AssignSupplierToSupply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplyManager/AssignSupplierToSupplyResponse" message="tns:IMainManager_AssignSupplierToSupply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnassignSupplierFromSupply">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplyManager/UnassignSupplierFromSupply" message="tns:IMainManager_UnassignSupplierFromSupply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplyManager/UnassignSupplierFromSupplyResponse" message="tns:IMainManager_UnassignSupplierFromSupply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductManager/AddProduct" message="tns:IMainManager_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductManager/AddProductResponse" message="tns:IMainManager_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterOrderPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceManager/RegisterOrderPayment" message="tns:IMainManager_RegisterOrderPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceManager/RegisterOrderPaymentResponse" message="tns:IMainManager_RegisterOrderPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSupplierOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierOrderManager/GetAllSupplierOrders" message="tns:IMainManager_GetAllSupplierOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierOrderManager/GetAllSupplierOrdersResponse" message="tns:IMainManager_GetAllSupplierOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSupplierOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierOrderManager/AddSupplierOrder" message="tns:IMainManager_AddSupplierOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierOrderManager/AddSupplierOrderResponse" message="tns:IMainManager_AddSupplierOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelSupplierOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierOrderManager/CancelSupplierOrder" message="tns:IMainManager_CancelSupplierOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierOrderManager/CancelSupplierOrderResponse" message="tns:IMainManager_CancelSupplierOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveredOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManager/GetDeliveredOrders" message="tns:IMainManager_GetDeliveredOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManager/GetDeliveredOrdersResponse" message="tns:IMainManager_GetDeliveredOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderItemsByOrderID">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManager/GetOrderItemsByOrderID" message="tns:IMainManager_GetOrderItemsByOrderID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManager/GetOrderItemsByOrderIDResponse" message="tns:IMainManager_GetOrderItemsByOrderID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeManager/RegisterRecipe" message="tns:IMainManager_RegisterRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeManager/RegisterRecipeResponse" message="tns:IMainManager_RegisterRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerManager/AddCustomer" message="tns:IMainManager_AddCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerManager/AddCustomerResponse" message="tns:IMainManager_AddCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCustomerEmailAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerManager/IsCustomerEmailAvailable" message="tns:IMainManager_IsCustomerEmailAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerManager/IsCustomerEmailAvailableResponse" message="tns:IMainManager_IsCustomerEmailAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ISesionManager/Login" message="tns:IMainManager_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISesionManager/LoginResponse" message="tns:IMainManager_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/ISesionManager/updateActivity" message="tns:IMainManager_updateActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISesionManager/updateActivityResponse" message="tns:IMainManager_updateActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainManager/Ping" message="tns:IMainManager_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainManager/PingResponse" message="tns:IMainManager_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMainManager" type="tns:IMainManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IMainManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllPersonals">
      <soap12:operation soapAction="http://tempuri.org/IPersonalManager/GetAllPersonals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPersonal">
      <soap12:operation soapAction="http://tempuri.org/IPersonalManager/AddPersonal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonal">
      <soap12:operation soapAction="http://tempuri.org/IPersonalManager/UpdatePersonal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePersonal">
      <soap12:operation soapAction="http://tempuri.org/IPersonalManager/DeletePersonal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReactivatePersonal">
      <soap12:operation soapAction="http://tempuri.org/IPersonalManager/ReactivatePersonal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUsernameAvailable">
      <soap12:operation soapAction="http://tempuri.org/IPersonalManager/IsUsernameAvailable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRfcUnique">
      <soap12:operation soapAction="http://tempuri.org/IPersonalManager/IsRfcUnique" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPersonalEmailAvailable">
      <soap12:operation soapAction="http://tempuri.org/IPersonalManager/IsPersonalEmailAvailable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSuppliers">
      <soap12:operation soapAction="http://tempuri.org/ISupplierManager/GetAllSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuppliersByCategory">
      <soap12:operation soapAction="http://tempuri.org/ISupplierManager/GetSuppliersByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSupplier">
      <soap12:operation soapAction="http://tempuri.org/ISupplierManager/AddSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <soap12:operation soapAction="http://tempuri.org/ISupplierManager/UpdateSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <soap12:operation soapAction="http://tempuri.org/ISupplierManager/DeleteSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReactivateSupplier">
      <soap12:operation soapAction="http://tempuri.org/ISupplierManager/ReactivateSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap12:operation soapAction="http://tempuri.org/ISupplyManager/GetAllCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuppliesBySupplier">
      <soap12:operation soapAction="http://tempuri.org/ISupplyManager/GetSuppliesBySupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuppliesAvailableByCategory">
      <soap12:operation soapAction="http://tempuri.org/ISupplyManager/GetSuppliesAvailableByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSupplies">
      <soap12:operation soapAction="http://tempuri.org/ISupplyManager/GetAllSupplies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSupply">
      <soap12:operation soapAction="http://tempuri.org/ISupplyManager/AddSupply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupply">
      <soap12:operation soapAction="http://tempuri.org/ISupplyManager/UpdateSupply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSupply">
      <soap12:operation soapAction="http://tempuri.org/ISupplyManager/DeleteSupply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReactivateSupply">
      <soap12:operation soapAction="http://tempuri.org/ISupplyManager/ReactivateSupply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignSupplierToSupply">
      <soap12:operation soapAction="http://tempuri.org/ISupplyManager/AssignSupplierToSupply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnassignSupplierFromSupply">
      <soap12:operation soapAction="http://tempuri.org/ISupplyManager/UnassignSupplierFromSupply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap12:operation soapAction="http://tempuri.org/IProductManager/AddProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterOrderPayment">
      <soap12:operation soapAction="http://tempuri.org/IFinanceManager/RegisterOrderPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSupplierOrders">
      <soap12:operation soapAction="http://tempuri.org/ISupplierOrderManager/GetAllSupplierOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSupplierOrder">
      <soap12:operation soapAction="http://tempuri.org/ISupplierOrderManager/AddSupplierOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelSupplierOrder">
      <soap12:operation soapAction="http://tempuri.org/ISupplierOrderManager/CancelSupplierOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveredOrders">
      <soap12:operation soapAction="http://tempuri.org/IOrderManager/GetDeliveredOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderItemsByOrderID">
      <soap12:operation soapAction="http://tempuri.org/IOrderManager/GetOrderItemsByOrderID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterRecipe">
      <soap12:operation soapAction="http://tempuri.org/IRecipeManager/RegisterRecipe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap12:operation soapAction="http://tempuri.org/ICustomerManager/AddCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCustomerEmailAvailable">
      <soap12:operation soapAction="http://tempuri.org/ICustomerManager/IsCustomerEmailAvailable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ISesionManager/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateActivity">
      <soap12:operation soapAction="http://tempuri.org/ISesionManager/updateActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IMainManager/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="NetTcpBinding_IMainManager" binding="tns:NetTcpBinding_IMainManager">
      <soap12:address location="net.tcp://localhost:8081/Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/Service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MATEBOOK-D15\jafet</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>