Connected Services/ItaliaPizzaServices/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonalDTO" nillable="true" type="tns:PersonalDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonalDTO" nillable="true" type="tns:ArrayOfPersonalDTO" />
  <xs:complexType name="PersonalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDTO" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalID" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePic" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalDTO" nillable="true" type="tns:PersonalDTO" />
  <xs:complexType name="AddressDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDTO" nillable="true" type="tns:AddressDTO" />
  <xs:complexType name="ArrayOfSupplyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplyDTO" nillable="true" type="tns:SupplyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplyDTO" nillable="true" type="tns:ArrayOfSupplyDTO" />
  <xs:complexType name="SupplyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="MeasureUnit" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" type="xs:decimal" />
      <xs:element minOccurs="0" name="SupplierID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplyCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="SupplyPic" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplyDTO" nillable="true" type="tns:SupplyDTO" />
  <xs:complexType name="ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsPrepared" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
  <xs:complexType name="ArrayOfSupplierOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierOrderDTO" nillable="true" type="tns:SupplierOrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierOrderDTO" nillable="true" type="tns:ArrayOfSupplierOrderDTO" />
  <xs:complexType name="SupplierOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Delivered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfSupplierOrderDTO.OrderItemDTO" />
      <xs:element minOccurs="0" name="OrderFolio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierOrderDTO" nillable="true" type="tns:SupplierOrderDTO" />
  <xs:complexType name="ArrayOfSupplierOrderDTO.OrderItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierOrderDTO.OrderItemDTO" nillable="true" type="tns:SupplierOrderDTO.OrderItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierOrderDTO.OrderItemDTO" nillable="true" type="tns:ArrayOfSupplierOrderDTO.OrderItemDTO" />
  <xs:complexType name="SupplierOrderDTO.OrderItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MeasureUnit" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="Subtotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="SupplyID" type="xs:int" />
      <xs:element minOccurs="0" name="SupplyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplyPic" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierOrderDTO.OrderItemDTO" nillable="true" type="tns:SupplierOrderDTO.OrderItemDTO" />
  <xs:complexType name="ArrayOfCustomerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerDTO" nillable="true" type="tns:CustomerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerDTO" nillable="true" type="tns:ArrayOfCustomerDTO" />
  <xs:complexType name="CustomerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDTO" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDTO" nillable="true" type="tns:CustomerDTO" />
</xs:schema>