Connected Services/ItaliaPizzaServices/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonalDTO" nillable="true" type="tns:PersonalDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonalDTO" nillable="true" type="tns:ArrayOfPersonalDTO" />
  <xs:complexType name="PersonalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDTO" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalID" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePic" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalDTO" nillable="true" type="tns:PersonalDTO" />
  <xs:complexType name="AddressDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDTO" nillable="true" type="tns:AddressDTO" />
  <xs:complexType name="ArrayOfDeliveryDriverDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryDriverDTO" nillable="true" type="tns:DeliveryDriverDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryDriverDTO" nillable="true" type="tns:ArrayOfDeliveryDriverDTO" />
  <xs:complexType name="DeliveryDriverDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalID" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryDriverDTO" nillable="true" type="tns:DeliveryDriverDTO" />
  <xs:complexType name="ArrayOfSupplyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplyDTO" nillable="true" type="tns:SupplyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplyDTO" nillable="true" type="tns:ArrayOfSupplyDTO" />
  <xs:complexType name="SupplyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeletable" type="xs:boolean" />
      <xs:element minOccurs="0" name="MeasureUnit" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SupplierID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplyCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="SupplyPic" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplyDTO" nillable="true" type="tns:SupplyDTO" />
  <xs:complexType name="ArrayOfRecipeSupplyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipeSupplyDTO" nillable="true" type="tns:RecipeSupplyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipeSupplyDTO" nillable="true" type="tns:ArrayOfRecipeSupplyDTO" />
  <xs:complexType name="RecipeSupplyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecipeID" type="xs:int" />
      <xs:element minOccurs="0" name="RecipeSupplyID" type="xs:int" />
      <xs:element minOccurs="0" name="SupplyID" type="xs:int" />
      <xs:element minOccurs="0" name="UseQuantity" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeSupplyDTO" nillable="true" type="tns:RecipeSupplyDTO" />
  <xs:complexType name="ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeletable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPrepared" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductPic" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Recipe" nillable="true" type="tns:RecipeDTO" />
      <xs:element minOccurs="0" name="RecipeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupplyID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
  <xs:complexType name="RecipeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PreparationTime" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="RecipeID" type="xs:int" />
      <xs:element minOccurs="0" name="Steps" nillable="true" type="tns:ArrayOfRecipeStepDTO" />
      <xs:element minOccurs="0" name="Supplies" nillable="true" type="tns:ArrayOfRecipeSupplyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeDTO" nillable="true" type="tns:RecipeDTO" />
  <xs:complexType name="ArrayOfRecipeStepDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipeStepDTO" nillable="true" type="tns:RecipeStepDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipeStepDTO" nillable="true" type="tns:ArrayOfRecipeStepDTO" />
  <xs:complexType name="RecipeStepDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Instruction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipeID" type="xs:int" />
      <xs:element minOccurs="0" name="RecipeStepID" type="xs:int" />
      <xs:element minOccurs="0" name="StepNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeStepDTO" nillable="true" type="tns:RecipeStepDTO" />
  <xs:complexType name="ArrayOfProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDTO" nillable="true" type="tns:ArrayOfProductDTO" />
  <xs:complexType name="ArrayOfTransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionDTO" nillable="true" type="tns:TransactionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionDTO" nillable="true" type="tns:ArrayOfTransactionDTO" />
  <xs:complexType name="TransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CashRegisterID" type="xs:int" />
      <xs:element minOccurs="0" name="Concept" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancialFlow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierOrderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDTO" nillable="true" type="tns:TransactionDTO" />
  <xs:complexType name="CashRegisterDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashRegisterID" type="xs:int" />
      <xs:element minOccurs="0" name="CashierAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ClosingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrentBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="FinalBalance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InitialBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="OpeningDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashRegisterDTO" nillable="true" type="tns:CashRegisterDTO" />
  <xs:complexType name="ArrayOfCashRegisterDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CashRegisterDTO" nillable="true" type="tns:CashRegisterDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCashRegisterDTO" nillable="true" type="tns:ArrayOfCashRegisterDTO" />
  <xs:complexType name="ArrayOfSupplierOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierOrderDTO" nillable="true" type="tns:SupplierOrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierOrderDTO" nillable="true" type="tns:ArrayOfSupplierOrderDTO" />
  <xs:complexType name="SupplierOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategorySupplyID" type="xs:int" />
      <xs:element minOccurs="0" name="Delivered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfSupplierOrderDTO.OrderItemDTO" />
      <xs:element minOccurs="0" name="OrderFolio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierOrderDTO" nillable="true" type="tns:SupplierOrderDTO" />
  <xs:complexType name="ArrayOfSupplierOrderDTO.OrderItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierOrderDTO.OrderItemDTO" nillable="true" type="tns:SupplierOrderDTO.OrderItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierOrderDTO.OrderItemDTO" nillable="true" type="tns:ArrayOfSupplierOrderDTO.OrderItemDTO" />
  <xs:complexType name="SupplierOrderDTO.OrderItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MeasureUnit" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="Subtotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="SupplyID" type="xs:int" />
      <xs:element minOccurs="0" name="SupplyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplyPic" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierOrderDTO.OrderItemDTO" nillable="true" type="tns:SupplierOrderDTO.OrderItemDTO" />
  <xs:complexType name="ArrayOfOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDTO" nillable="true" type="tns:OrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDTO" nillable="true" type="tns:ArrayOfOrderDTO" />
  <xs:complexType name="OrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttendedByName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryInfo" nillable="true" type="tns:DeliveryDTO" />
      <xs:element minOccurs="0" name="IsDelivery" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfProductOrderDTO" />
      <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonalID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="TableNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDTO" nillable="true" type="tns:OrderDTO" />
  <xs:complexType name="DeliveryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryDriverID" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryDriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryDTO" nillable="true" type="tns:DeliveryDTO" />
  <xs:complexType name="ArrayOfProductOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductOrderDTO" nillable="true" type="tns:ProductOrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductOrderDTO" nillable="true" type="tns:ArrayOfProductOrderDTO" />
  <xs:complexType name="ProductOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductPic" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductOrderDTO" nillable="true" type="tns:ProductOrderDTO" />
  <xs:complexType name="ArrayOfCustomerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerDTO" nillable="true" type="tns:CustomerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerDTO" nillable="true" type="tns:ArrayOfCustomerDTO" />
  <xs:complexType name="CustomerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDTO" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDTO" nillable="true" type="tns:CustomerDTO" />
</xs:schema>