Connected Services/ItaliaPizzaServices/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RecipeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreparationTime" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="RecipeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeDTO" nillable="true" type="tns:RecipeDTO" />
  <xs:complexType name="ArrayOfRecipeSupplyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipeSupplyDTO" nillable="true" type="tns:RecipeSupplyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipeSupplyDTO" nillable="true" type="tns:ArrayOfRecipeSupplyDTO" />
  <xs:complexType name="RecipeSupplyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecipeID" type="xs:int" />
      <xs:element minOccurs="0" name="RecipeSupplyID" type="xs:int" />
      <xs:element minOccurs="0" name="SupplyID" type="xs:int" />
      <xs:element minOccurs="0" name="UseQuantity" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeSupplyDTO" nillable="true" type="tns:RecipeSupplyDTO" />
</xs:schema>