Connected Services/ItaliaPizzaServices/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSupplierDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierDTO" nillable="true" type="tns:SupplierDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierDTO" nillable="true" type="tns:ArrayOfSupplierDTO" />
  <xs:complexType name="SupplierDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategorySupply" type="xs:int" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierDTO" nillable="true" type="tns:SupplierDTO" />
  <xs:complexType name="ArrayOfSupplyCategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplyCategoryDTO" nillable="true" type="tns:SupplyCategoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplyCategoryDTO" nillable="true" type="tns:ArrayOfSupplyCategoryDTO" />
  <xs:complexType name="SupplyCategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplyCategoryDTO" nillable="true" type="tns:SupplyCategoryDTO" />
  <xs:complexType name="SupplierOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfSupplierOrderDTO.OrderItemDTO" />
      <xs:element minOccurs="0" name="OrderFolio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierOrderDTO" nillable="true" type="tns:SupplierOrderDTO" />
  <xs:complexType name="ArrayOfSupplierOrderDTO.OrderItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierOrderDTO.OrderItemDTO" nillable="true" type="tns:SupplierOrderDTO.OrderItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierOrderDTO.OrderItemDTO" nillable="true" type="tns:ArrayOfSupplierOrderDTO.OrderItemDTO" />
  <xs:complexType name="SupplierOrderDTO.OrderItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="SupplyID" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierOrderDTO.OrderItemDTO" nillable="true" type="tns:SupplierOrderDTO.OrderItemDTO" />
  <xs:complexType name="ArrayOfOrderSummaryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderSummaryDTO" nillable="true" type="tns:OrderSummaryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderSummaryDTO" nillable="true" type="tns:ArrayOfOrderSummaryDTO" />
  <xs:complexType name="OrderSummaryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfOrderItemSummaryDTO" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderSummaryDTO" nillable="true" type="tns:OrderSummaryDTO" />
  <xs:complexType name="ArrayOfOrderItemSummaryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemSummaryDTO" nillable="true" type="tns:OrderItemSummaryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemSummaryDTO" nillable="true" type="tns:ArrayOfOrderItemSummaryDTO" />
  <xs:complexType name="OrderItemSummaryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemSummaryDTO" nillable="true" type="tns:OrderItemSummaryDTO" />
</xs:schema>